Day 1 challenge

Write a function called divide_or_square that takes one
argument (a number), and returns the square root of the number
if it is divisible by 5, returns its remainder if it is not divisible by
5. For example, if you pass 10 as an argument, then your function
should return 3.16 as the square root.

In [5]:
import math

In [16]:
def devide_or_square(no):
    if no%5 == 0:
        return math.sqrt(no)
    else:
        return no%5
    
if __name__ == '__main__':
    while True:
        n = int(input('Enter a number: '))
        answer = print(devide_or_square(n))
        shall_continue = input('Do you want to continue [y/n]? ')
        if shall_continue.lower() != 'y':
            break

Enter a number:  10

3.1622776601683795

Do you want to continue [y/n]?  y
Enter a number:  9

4

Do you want to continue [y/n]?  y
Enter a number:  20

4.47213595499958

Do you want to continue [y/n]?  y
Enter a number:  25

5.0

Do you want to continue [y/n]?  y
Enter a number:  24

4

Do you want to continue [y/n]?  n

Write a function called longest_value that takes a dictionary
as an argument and returns the first longest value of the
dictionary. For example, the following dictionary should return
– apple as the longest value.
fruits = {'fruit': 'apple', 'color': 'green'}

In [25]:
def longest_value(àny_dictionary):
    dictionary = 0
    for v in àny_dictionary.values():
        if len(v)>dictionary:
            dictionary = len(v)
    print(max(àny_dictionary.values(), key = len))

In [30]:
dictionar = {'fructe': 'caise', 'legume': 'ardei', 'panificatie': 'paine'}

In [31]:
longest_value(dictionar)

caise

Day 2 challenge

Write a function called convert_add that takes a list of strings
as an argument and converts it to integers and sums the list. For
example [‘1’, ‘3’, ‘5’] should be converted to [1, 3, 5] and
summed to 9.

In [182]:
lista = []
def convert_add(lista):
    lista = [int(n) for n in lista]
    return lista, sum(lista)

In [183]:
lista_2 = ['2', '3', '4', '5', '5']

In [184]:
convert_add(lista_2)

([2, 3, 4, 5, 5], 19)

Write a function called check_duplicates that takes a list of
strings as an argument. The function should check if the list has
any duplicates. If there are duplicates, the function should return
the duplicates. If there are no duplicates, the function should
return "No duplicates". For example, the list of fruits below
should return apple as a duplicate and list of names should
return "no duplicates".
fruits = ['apple', 'orange', 'banana', 'apple']
names = ['Yoda', 'Moses', 'Joshua', 'Mark']

In [185]:
def check_duplicates(a_list):
    for element in a_list:
        if a_list.count(element) > 1:
            return element
    return print ('No duplicates')

In [186]:
fruits = ['apple', 'orange', 'banana', 'apple']
result = check_duplicates(fruits)
result

'apple'

In [189]:
names = ['Yoda', 'Moses', 'Joshua', 'Mark']
result = check_duplicates(names)
result

No duplicates

Day 3 challenge

Write a function called register_check that checks how many
students are in school. The function takes a dictionary as a
parameter. If the student is in school, the dictionary says ‘yes’. If
the student is not in school, the dictionary says ‘no’. Your
function should return the number of students in school. Use the
dictionary below. Your function should return 3.

In [293]:
register = {'Michael':'yes','John': 'no',
            'Peter':'yes', 'Mary': 'yes'}

In [294]:
#dir(register)

In [295]:
register.__getitem__('Michael')

'yes'

In [296]:
def register_check(dictionar):
    dictionary = {k:v for k,v in dictionar.items() if v == 'yes'}
    return len(dictionary.keys())

In [297]:
register_check(register)

3

In [298]:
# sau mai poate fi facuta si

In [303]:
def register_check(dictionar):
    dictionar_nou = {}
    for k, v in dictionar.items():
        if v == 'yes':
            dictionar_nou.update()
    return len(dictionar_nou.keys())

In [304]:
register_check(register)

0

names = ["kerry", "dickson", "John", "Mary",
"carol", "Rose", "adam"]
You are given a list of names above. This list is made up of names
of lowercase and uppercase letters. Your task is to write a code
that will return a tuple of all the names in the list that have only
lowercase letters. Your tuple should have names sorted
alphabetically in descending order. Using the list above, your
code should return:
('kerry', 'dickson', 'carol', 'adam')

In [322]:
names = ["kerry", "dickson", "John", "Mary",
         "carol", "Rose", "adam"]

In [323]:
new_names = sorted(names)
new_names

['John', 'Mary', 'Rose', 'adam', 'carol', 'dickson', 'kerry']

In [324]:
type(new_names)

list

In [341]:
def convert(a_list):
    lista = []
    for i in a_list:
        if i == i.lower():
            lista.append(i)
    return tuple(lista)

In [342]:
convert(names)

('kerry', 'dickson', 'carol', 'adam')

Day 4 challenge

Write a function called only_floats, which takes two
parameters a and b, and returns 2 if both arguments are floats,
returns 1 if only one argument is a float, and returns 0 if neither
argument is a float. If you pass (12.1, 23) as an argument, your
function should return a 1.

In [532]:
''' Need to work harder :))
def input_number(first, second):
    input_first_number = input('Enter first no:')
    input_second_number = input('Enter second no:')
    a_1 = int(a_1)
    b_1 = int(b_1)
    a_2 = float(a_2)
    b_2 = float(b_2)
    if a_1 == input_first_number or  a_2 == input_first_number:
        return input_first_number
    if input_second_number == b_1 or input_second_number == b_2:
        return input_second_number

def only_floats(a,b):
    if type(a) is int and type(b) is int:
        return '0'
    elif type(b) is int or type(a) is int:
        return '1'
    else:
        return '2'
print(only_floats(input_first_number,input_second_number), type(input_first_number), type(input_second_number))'''

" Need to work harder :))\ndef input_number(first, second):\n    input_first_number = input('Enter first no:')\n    input_second_number = input('Enter second no:')\n    a_1 = int(a_1)\n    b_1 = int(b_1)\n    a_2 = float(a_2)\n    b_2 = float(b_2)\n    if a_1 == input_first_number or  a_2 == input_first_number:\n        return input_first_number\n    if input_second_number == b_1 or input_second_number == b_2:\n        return input_second_number\n\ndef only_floats(a,b):\n    if type(a) is int and type(b) is int:\n        return '0'\n    elif type(b) is int or type(a) is int:\n        return '1'\n    else:\n        return '2'\nprint(only_floats(input_first_number,input_second_number), type(input_first_number), type(input_second_number))"

In [538]:
a = 12.1
b = 23
only_floats(a,b)

'1'

In [373]:
int(a)

1

In [534]:
def only_floats(a,b):
    if type(a) is int and type(b) is int:
        return '0'
    elif type(b) is int or type(a) is int:
        return '1'
    else:
        return '2'

In [541]:
a1 = 12.1
b1 = 23.55
only_floats(a1,b1), type(a1), type(b1)

('2', float, float)

Write a function called word_index that takes one argument,
a list of strings and returns the index of the longest word in the
list. If there is no longest word (if all the strings are of the same
length), the function should return zero (0). For example, the list
below should return 2.
words1 = ["Hate", "remorse", "vengeance"]
And this list below, shoul return zero (0)
words2 = ["Love", "Hate"]

In [117]:
def word_index(lista_1):
    for longest_element in lista_1:
        longest_element = max(lista_1, key = len)
        return lista_1.index(longest_element)

In [118]:
words1 = ["Hate", "remorse", "vengeance"]
word_index(words1)

2

In [119]:
words2 = ["Love", "Hate"]
word_index(words2)

0

In [56]:
a_list = ["a_string", "the_longest_string", "string"]
longest_string = max(a_list, key=len)
longest_string

'the_longest_string'

In [ ]:
longest_element = max(lista_1, key = len)

Day 5 challenge

Create a function called my_discount. The function takes no
arguments but asks the user to input the price and the
discount (percentage) of the product. Once the user inputs the
price and discount, it calculates the price after the discount.
The function should return the price after the discount. For
example, if the user enters 150 as price and 15% as the discount,
your function should return 127.5.

In [1]:
import math

In [20]:
def my_discount():
    final_price = 0
    price = float(input('Enter the price:'))
    percentage_discount = float(input('Enter discount you want:'))
    if price >= 0:
        final_price = (price - (price*percentage_discount)/100)
    return final_price

if __name__ == '__main__':
    print(f'Final price is: {my_discount()}')

Enter the price: 100
Enter discount you want: 10

Final price is: 90.0

You work for a school and your boss wants to know how many
female and male students are enrolled in the school. The school
has saved the students in a list. Your task is to write a code that
will count how many males and females are in the list. Here is a
list below:
students = ['Male', 'Female', 'female', 'male', 'male', 'male',
'female', 'male', 'Female', 'Male', 'Female', 'Male', 'female']
Your code should return a list of tuples. The list above should
return:
[(‘Male’,7), (‘female’,6)]

In [17]:
students = ['Male', 'Female', 'female', 'male', 'male', 'male',
            'female', 'male', 'Female', 'Male', 'Female', 'Male', 'female']

In [18]:
def count_student(students):
    students_1 = [e.lower() for e in students]
    students_2 = [f for f in students_1 if f == 'male']
    students_3 = [x for x in students_1 if x == 'female']
    for f in students_2:
        f = students_2.count('male')
    for x in students_3:
        x = students_3.count('female')
    return [(students_2.__getitem__(0), f), (students_3.__getitem__(0), x)]

In [19]:
count_students = ['Male', 'Female', 'female', 'male', 'male', 'male',
            'female', 'male', 'Female', 'Male', 'Female', 'Male', 'female']
count_student(count_students)

[('male', 7), ('female', 6)]

In [21]:
def count_students(students):
    students_1 = [e.lower() for e in students]
    final_list = [] 
    for d in students_1:
        x = students_1.count('male')
        b = students_1.count('female')
    return [(x ,b)]

In [22]:
students = ['Male', 'Female', 'female', 'male', 'male', 'male',
            'female', 'male', 'Female', 'Male', 'Female', 'Male', 'female']

In [23]:
count_students(students)

[(7, 6)]

In [55]:
lista_4 = ''
#dir(lista_4)

Day 6 challenge

Write a function called user_name that generates a username
from the user’s email. The code should ask the user to input an
email and the code should return everything before the @ sign
as their user name. For example, if someone enters
ben@gmail.com, the code should return ben as their user
name.

In [49]:
def user_name_by_email(e_mail):
    user_name = '11@11.11'
    for user in e_mail:
        user_name = str(e_mail)
        user = user_name[: user_name.index('@')]
    return user

In [52]:
e_mail_1 = 'bvidru@gmail.com'
user_name_by_email(e_mail_1)

'bvidru'

Write a function called zeroed code that takes a list of numbers
as an argument. The code should zero (0) the first and the last
number in the list. For example, if the input is [2, 5, 7, 8, 9],
your code should return [0, 5, 7, 8, 0].

In [62]:
def zeros(a_list):
    for element in a_list:
        a_list[0] = 0
        a_list[-1] = 0
    return a_list

In [63]:
a_lst = [2, 5, 7, 8, 9]
zeros(a_lst)

[0, 5, 7, 8, 0]

Day 7 challenge

Write a function called string_range that takes a single
number and returns a string of its range. The string characters
should be separated by dots(.) For example, if you pass 6 as
an argument, your function should return ‘0.1.2.3.4.5’.

In [135]:
def string_range(number):
    n = list(range(number))
    no = [str(x) for x in n]
    number_1 = '.'.join(no)
    return number_1

In [137]:
s = 6
string_range(s)

'0.1.2.3.4.5'

You are given a list of names, and you are asked to write a code
that returns all the names that start with ‘S’. Your code should
return a dictionary of all the names that start with S and how
many times they appear in the dictionary. Here is a list below:
names = ["Joseph","Nathan", "Sasha", "Kelly",
"Muhammad", "Jabulani", "Sera”, "Patel", "Sera”]
Your code should return: {“Sasha”: 1, “Sera”: 2}

In [291]:
def a_list_of_s(names):
    lista_nume = []
    dictionar_nume = {}
    for nume in names:
        if 'S' in nume:
            lista_nume.append(nume)
    for s_name in lista_nume:
        dictionar_nume[s_name] = dictionar_nume.get(s_name, 0) + 1
    return dictionar_nume

In [292]:
names = ["Joseph","Nathan", "Sasha", "Kelly", "Muhammad", "Jabulani", "Sera", "Patel", "Sera"]
a_list_of_s(names)

{'Sasha': 1, 'Sera': 2}

Day 8 challenge

Write a function called odd_even that has one parameter and
takes a list of numbers as an argument. The function returns the
difference between the largest even number in the list and the
smallest odd number in the list. For example, if you pass
[1,2,4,6] as an argument the function should return 6 -1= 5.

In [311]:
def odd_even(a_list_of_numbers):
    list_number = []
    list_number_1 = []
    result = 0
    for i in a_list_of_numbers:
        if (i%2) == 0:
            list_number.append(i)
        else:
            list_number_1.append(i)
    result = max(list_number) - min(list_number_1)
    print(f'{max(list_number)} - {min(list_number_1)} = {result}')

In [313]:
a_lst = [10,12,15,14,16,22,17,31,48,95,99,8,4,5]
odd_even(a_lst)

48 - 5 = 43

Write a function called prime_numbers. This function asks a
user to enter a number (integer) as an argument and returns a
list of all the prime numbers within its range. For example, if user
enters 10, your code should return [2, 3, 5, 7] as prime numbers.

In [70]:
def prime_numbers(no_integer):
    list_of_prime_no = []
    for numbers in range (1, no_integer+1):
        no = 0
        if numbers < 2:
            continue
        for i in range (2, numbers):
            if (numbers%i) == 0:
                no = 1
                break
        if no == 0:
            list_of_prime_no.append(numbers)
    return list_of_prime_no
if __name__ == "__main__":
    num = int(input('Enter a number: '))
    result = prime_numbers(num)
    print(f' List of prime numbers is {result}')

Enter a number:  2

 List of prime numbers is [2]

Day 9 challenge

Create a function called biggest_odd that takes a string of
numbers and returns the biggest odd number in the list. For
example, if you pass ‘23569’ as an argument, your function
should return 9. Use list comprehension.

In [82]:
def biggest_odd(num):
    list_of_numbers = []
    odd_numbers = []
    for n in num:
        list_of_numbers.append(n)
        for no in list_of_numbers:
            if (int(no)%2) != 0:
                odd_numbers.append(no)
    return max(odd_numbers)
if __name__ == '__main__':
    input_no = input('Enter a strig of numbers: ')
    result = biggest_odd(input_no)
    print(f'Biggest odd number is {result}')

Enter a strig of numbers:  23569

Biggest odd number is 9

Write a function called zeros_last. This function takes a list as
argument. If a list has zeros (0), it will move them to the end of
the list and maintain the order of the other numbers in the list.
If there are no Zeros in the list, the function should return the
original list sorted in ascending order. For example, if you pass
[1, 4, 6, 0, 7,0,9] as an argument, your code should return [1,
4, 6, 7, 9, 0, 0]. If you pass [2, 1, 4, 7, 6] as your argument,
your code should return [1, 2, 4, 6, 7].

In [246]:
def zeros_last(a_list):
    for n in a_list:
        if n == 0:
            a_list.insert(-1, a_list.pop(n))
    return a_list

In [247]:
number=[1, 4, 6, 0, 7,0,9]
zeros_last(number)

[6, 0, 7, 0, 1, 4, 9]

In [186]:
number=[1,4 , 6, 0, 7,0,9]
for i in range(len(number)):
    for j in range(i+1,len(number)):
        if number[i]>number[j]:
            number[i],number[j]=number[j],number[i]
print(number)

[0, 0, 1, 4, 6, 7, 9]

In [181]:
l = [1,4 , 6, 0, 7,0,9]
index_x = 0
for idx, x in enumerate(l):
    if x == 0:
        index_x = idx
l, index_x

([1, 4, 6, 0, 7, 0, 9], 5)

In [172]:
l = [1,4 , 6, 0, 7,0,9]

In [173]:
l.pop(4)
l

[1, 4, 6, 0, 0, 9]

In [89]:
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']