In [40]:
with open("file_read.py") as file:
    for index, line in enumerate(file.readlines(), 1):
        print(f'{index}. {line.strip()}')

1. """
2. Write a program that reads a text file and then prints it with numbered lines.
3. """

In [38]:
#dir(line)

In [47]:
list_of_words = input('Enter a list of words:')
with open('new_file.txt', 'w') as file:
    file.write(list_of_words)

Enter a list of words: sdads sadasd

In [48]:
#dir(file)

In [ ]:
'''
    aceasta functie transforma siruri de caractere in numere intregi
    :param mystr: string, de forma ....
    :return: integer (nr. intregi)
    '''

In [54]:
import sys
def str_to_int(mystr: str) -> int:
    char_list = list(mystr)
    while ',' in mystr:
        char_list.remove(',')
        mystr = ''.join(char_list)
    while ' ' in mystr:
        char_list.remove(' ')
        mystr = ''.join(char_list)
    rezultat = int(float(mystr))
    print(rezultat, type(rezultat))
    return rezultat
if __name__ =='__main__':
    str_to_int(sys.argv[1])

ValueError: could not convert string to float: '-f'

In [2]:
import math
def leap_year(year):
    a_year = False
    if year % 400 == 0 and year % 100 != 0:
        a_year = True
    elif year % 4 == 0:
        a_year = True
    return a_year
        
if __name__ == '__main__':
    year = int(input('Enter a random year to check if it is a leap year:'))
    if leap_year(year) is True:
        print(f'Year {year} is a leap year')
    else:
        print(f'Year {year} is not a leap year')

Enter a random year to check if it is a leap year: 2022

Year 2022 is not a leap year

In [101]:
def is_leap_year(year):
    leap = False
    if year % 4 == 0 and year % 100 != 0:
        leap = True
    elif year % 400 == 0:
        leap = True
    return leap

if __name__ == '__main__':
    year = int(input('Which year? '))
    print(f'{year} is leap: {is_leap_year(year)}')

Which year?  2000

2000 is leap: True

In [9]:
def a_list(elements):
    lista = []
    for a, b in lista:
        a = min(lista)
        b = max(lista)
    return a

In [10]:
#dir(a_list)

In [38]:
lista_mea = [1, 2, 3, 4, 5]
min(lista_mea), max(lista_mea), list(reversed(lista_mea))

(1, 5, [5, 4, 3, 2, 1])

In [33]:
def o_lista(elemente):
    a = 0
    b = 0
    for a, b in elemente:
        a == min(elemente)
        max(elemente) == b
    return [a, b]

In [34]:
lista_mea = [1, 2, 3, 4, 5]
o_lista(lista_mea)

TypeError: cannot unpack non-iterable int object

In [141]:
class Notebook():
    
    vat = 23/100
    
    def __init__(self, manufacturer, net_price, ram_memory):
        self.manufacturer = manufacturer
        self.net_price = net_price
        self.ram_memory = ram_memory
       
    def gross_price(self):
        return float(self.net_price + self.net_price * Notebook.vat)

    def increase_ram(self, expand):
        self.ram_memory += expand
        
if __name__ == '__main__':
    casa = Notebook(input('Manufacturer:'), int(input('Nett price:')), int(input('RAM memory:')))
    print(f'Gross price of your {casa.manufacturer} is {casa.gross_price()}')
    expand = int(input('Add extra RAM:'))
    casa.increase_ram(expand)
    print(f'Your {casa.manufacturer} has {casa.increase_ram(expand)} GB of RAM')

Manufacturer: dsad
Nett price: 2
RAM memory: 2

Gross price of your dsad is 2.46

Add extra RAM: 2

Your dsad has None GB of RAM

In [95]:
casa = Notebook('bobo', 11, 8)
casa.gross_price()

13.530000000000001

In [ ]:
Notebook(input('Manufacturer:'), int(input('Nett price:')), int(input('RAM memory:')))

In [96]:
casa.ram_memory

8

In [107]:
casa.increase_ram(increase)

TypeError: Notebook.increase_ram() missing 1 required positional argument: 'increase'

In [112]:
class Notebook:
    VAT = 23

    def __init__(self, manufacturer, nett_price, ram):
        self.manufacturer = manufacturer
        self.nett_price = nett_price
        self.ram = ram

    @property
    def gross_price(self):
        return self.nett_price * (1 + self.VAT/100)

    def expand_ram(self, extra_ram):
        self.ram += extra_ram


if __name__ == '__main__':

    my_notebook = Notebook('msi', 3300, 16)
    print(f'Your {my_notebook.manufacturer} has '
          f'{my_notebook.ram} GB of RAM.')
    extra_ram = int(input('Add extra RAM: '))
    my_notebook.expand_ram(extra_ram)
    print(f'Your {my_notebook.manufacturer} has '
          f'{my_notebook.ram} GB of RAM.')

Your msi has 16 GB of RAM.

Add extra RAM:  2

Your msi has 18 GB of RAM.

In [122]:
class Celsius:
    def __init__(self, temperature=0):
        self.set_temperature(temperature)

    def to_fahrenheit(self):
        return (self.get_temperature() * 1.8) + 32

    # getter method
    def get_temperature(self):
        return self._temperature

    # setter method
    def set_temperature(self, value):
        if value < -273.15:
            raise ValueError("Temperature below -273.15 is not possible.")
        self._temperature = value

In [126]:
eu = Celsius(37)
print(eu.get_temperature())

37

In [127]:
print(eu.to_fahrenheit())

98.60000000000001

In [128]:
eu.set_temperature(-300)

ValueError: Temperature below -273.15 is not possible.

In [129]:
print(eu.to_fahrenheit())

98.60000000000001

In [ ]:
"""
    Create a class named Rectangle.
     The class should have two fields for the sides and an area (property) method to calculate 
     the area of the rectangle.
"""

In [144]:
class Rectangle():
    def __init__(self, height, width):
        self.height = height
        self.width = width
        
    @property
    def area(self):
        return self.height * self.width

In [146]:
drep = Rectangle(10, 5)
drep.height, drep.width

(10, 5)

In [149]:
drep.area

50

In [ ]:
"""
    Ask the user for items to be added into two lists.
     To do this, the user first adds to the first list until he enters a zero.
     Then it adds to the second list until it types zero again.
     Create sets out of these two lists.
     Your task is to display the sorted symmetric difference of the sets created 
     from these two lists.
"""

In [187]:
def a_list():
    my_list = []
    while True:
        number = int(input())
        if number == 0:
            break
        my_list.append(number)
    return my_list

if __name__ == '__main__':
    print('Elements of the first list are:')
    list_1 = a_list()
    print('Elements of the second list are:')
    list_2 = a_list()
    list_3 = list(set(list_1)^set(list_2))
    list_3.sort()
    print(list_3)

Elements of the first list are:

 4
 0

Elements of the second list are:

 5
 0

[4, 5]

In [170]:
lista = [1, 2, 3, 4, 5, 0, 2, 8, 6, 7]
lista

[1, 2, 3, 4, 5, 0, 2, 8, 6, 7]

In [171]:
print(a_list(lista))

TypeError: a_list() takes 0 positional arguments but 1 was given

In [165]:
print(new_list(lista))

NameError: name 'new_list' is not defined

In [ ]:
"""
    Write a program that asks the user for a natural number (N) and prints all numbers
    from 1 to N squared (for loop).
"""

In [207]:
no = int(input())
for n in range(no):
    print(n**2)

 5

0
1
4
9
16

In [206]:
limit = int(input('Specify the limit: '))

for i in range(limit):
    print(i**2)

Specify the limit:  3

0
1
4

In [ ]:
"""
    Write a program that takes a word from the user and then displays every second 
    character of the given word.
     Secondly, the program should display the word from the remaining letters.
"""

In [223]:
if __name__=='__main__':
    input_a_word = input()
    print(input_a_word[1::2], input_a_word[::2])

 cuvant

uat cvn

In [209]:
type(a_word)

str

In [219]:
if __name__ == '__main__':
    word = input('Word? ')
    print(word[::2])
    print(word[1::2])

Word?  abcdefgh

aceg
bdfh